.slbuilder{
	font-family: Verdana, Arial;
	font-size: 14pt;
}
.template{
    display: none;
}
.toolboxes{
    background-color: Silver;
    border-color: gray;
    border-style: double;
    bottom: 0;
    height: 300px;
    max-height: 30%;
    min-height: 150px;
    position: absolute;
    width: 99%;
    overflow: auto;
}
.toolbox{
    border-style: groove;
    border-width: thin;
    float: left;
    margin-right: 5px;
    max-width: 300px;
    min-width: 20%;
    overflow: auto;
}
.toolbox ul,form{
	padding: 0px;
	margin: 0px;
    overflow: auto;
}
.toolbox li{
    border-width: 1px 0;
    border-style: solid;
    border-width: thin;
    border-collapse: separate;
	border-spacing: 0;
    list-style-type: none;
    vertical-align: top;
    background-color: DarkSlateGrey;
    color: white;
    padding: 0 5px;
    border-radius: 5px;
}
.toolbox fieldset {
    padding: 5px;
}
.toolbox fieldset input {
    background-color: DarkSlateGrey;
    border-radius: 5px;
    color: white;
    font-size: large;
    padding: 0 5px;
    width: 100%;
}
.toolbox button {
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: medium;
    color: white;
    margin-bottom: 3px;
    background-color: DarkSlateGray;
    padding: 2px 6px;
}
.toolbox .remove {
    background-color: DarkRed;
}
.toolbox .add {
    background-color: DarkSlateGray;
}
.toolboxheader select{
	min-width: 100px;
}
.toolboxheader{
	background-color: Gainsboro;
    padding: 5px;
    padding-top: 0px;
}
.toolboxheader h1{
    font-size: 14pt;
    font-variant: small-caps;
    margin-bottom: 0;
    margin-top: 0;
}
.toolboxfooter{
//	position: absolute;
//	bottom: 0;
	background-color: Gainsboro;
}
.pages{
    float: right;
    width: auto;
}
.properties{
	width: 58%;
	max-width: none;
}
.add 
.remove
.layers 
.components

button

