.layer{
	display: inline-block;
	width: 500px;
	height: 500px;
	background-color: Gainsboro;
	border-style: dotted;
	margin: 2px;
	padding: 2px;
    opacity: 0.5;
}
.component{
	display: inline-block;
	width: 100px;
	height: 100px;
	background-color: grey;
	margin: 2px;
    opacity: 0.8;
}
body{
	margin : 0px; 
	padding : 0px; 
	overflow: auto;
	font-family: 'PT Sans', 'DejaVu Sans', 'Bitstream Vera Sans', Verdana, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.4;
}
.SLBuilderMain {
	position:absolute; 
	top: 0; left: 0;
	width: 100%; height: 100%; 
}
